<div class='span-10 append-2'>
<p>
写真帳 [shashinchou] does really mean "a photo album" in japanese, and this web page is its electronic counterpart. Enjoy posting photos and viewing or commenting those already submitted.
</p>
<p>If you are a Rails developer, then you'll be happy to know that the application's source is available at github. 
</div>
<div class='span-12 last'>
  <div class="span-12">
    
    <h2><%= link_to "View Albums", albums_path %></h2>
  </div>
  <div class="span-12">
    <h2><%= link_to "Submit Photos", new_album_path %></h2>
  </div>
</div>
