<h2>Listing albums</h2>


<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @albums.each do |album| %>
  <div class='span-6'>
    <%= link_to album.name, album %>
  </div>
  <div class='span-4'>
    <%= link_to 'Edit', edit_album_path(album) %>
  </div>
  <div class='span-4 append-10 last'>
    <%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %>
  </div>
  <tr>
    <td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Album', new_album_path %>
