<h2>
  <%= @photo.image_file_name %>
  <% if @photo.album.user == current_user -%>
    ( <%= link_to 'Delete', @photo, :confirm => 'Are you sure?', :method => :delete %> )
  <% end -%>
</h2>


<%= image_tag(@photo.image(:large)) %>


<%= link_to 'Back', album_path(@photo.album) %>
